.progress {
    margin-top: 100px;
    display: inline-block;
    position: relative;
    width: 350px;
    border: 1px solid rgba(185, 173, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(185, 173, 255, 0.1);
}

.progress-level{
    position: relative;
    height: 50px;
    width: 80%;
    background: linear-gradient(to right, rgba(95, 69, 255, 0.9), rgba(185, 173, 255, 0.1));
    animation: ani;
    animation-duration: 1s;
    animation-fill-mode: both;
    border-radius: 15px;
    box-shadow: 0 0 30px 10px rgba(128, 106, 255, 0.864) ;

}
.wrapper {
    width: 600px;
    height: 700px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

@keyframes ani{
    0%{
        width: 0;
    }
}