.progress {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(185, 173, 255, 0.1);
    border-radius: 80px;
    background-color: rgba(185, 173, 255, 0.1);
    box-shadow: inset -23.2px 23.2px 23.2px rgba(255, 255, 255, 0.1);
    box-shadow: inset 23.2px -23.2px 23.2px rgba(194, 194, 194, 0.1);
}

.progress-level{
    position: relative;

    width: 80%;
    height: 100%;
    background: linear-gradient(to right, rgba(95, 69, 255, 0.9), rgba(151, 133, 255, 0.351));
    animation: ani;
    animation-duration: 1s;
    animation-fill-mode: both;
    border-radius: 80px;
    filter: blur(15px);
}
.wrapper {
    width: 600px;
    height: 700px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.countP {
    display: inline-block;
    color: rgba(133, 113, 255, 1);
}

.tree {
    width: 200px;
    height: 250px;
    margin-bottom: -30px;
    margin-right: -100px;
}

.category {
   
    width: 310px;
    height: 5%;
    position: absolute;
    margin-left: 38px;
    left: 13px;
    top: 200px;
    border: none;
    background: transparent;
    font-size: 17px;
    color: rgba(191, 194, 202, 1);
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-position: 290px center;
    outline: none;
}

.listTitle {
    text-align: left;
    margin-left: 6px;
    margin-bottom: 20px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #8571FF;
    
}

.li {
    text-align: left;
    margin-left: 6px;
    margin-bottom: 15px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(185, 173, 255, 1); 
}

.li:hover {
    color: #8571FF;
}

.margin {
    margin-top: 40px;
}
.ginger {
    width: 111px;
    margin-top: 80px;
}

@keyframes ani{
    0%{
        width: 0;
    }
}